[submodule "RocketTheme"]
	path = RocketTheme
	url = https://github.com/eruecco87/PokemonGoBot-RocketTheme.git
	branch = gh-pages
[submodule "Poppo"]
	path = Poppo
	url = https://github.com/pureexe/Poppo
[submodule "TTL55"]
	path = TTL55
	url = git://github.com/JoeyyT/PGBGUI
