# PTC/Google login credentials
username=
# Choose plaintext or base64'd password
password=
base64_password=
latitude=
longitude=
preferred_ball=ITEM_POKE_BALL
# should the bot EVER drop items (true/false)
drop_items=true
# Meters per second
speed=2.778
# should the bot auto transfer duplicate pokemon
autotransfer=false
# Minimum CP to keep a pokemon
transfer_cp_threshold=400
